<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
          <% unless logged_in? %>
            <%= link_to '番組検索を始める', signup_path, class: 'btn btn-success btn-lg' %>
          <% end %>
      </div>
    </div>
  </div>
<% end %>

<!--<p>ここにお気に入り番組表を表示させる必要があります</p>-->